:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --black-light: 0, 1, 1;

    --red: #FB565A;
    --red-hover: #E74246;
    --red-active: #D7373B;

    --green: #00CA74;;
    --green-hover: #00BC6C;
    --green-active: #00AA62;

    --yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;

    --gray-888888: #888888;
    --gray-eeeeee: #EEEEEE;
    --gray-dfdfdf: #DFDFDF;
    --gray-d5d5d5: #D5D5D5;
    --gray-283136: #283136;
    --gray-444444: #444444;
    --gray-e1e1e1: #e1e1e1; /*не используется в коде*/
    --gray-dbdbdb: #dbdbdb;
    --gray-f2f2f2: #f2f2f2;
    --gray-c1c1c1: #c1c1c1; /*не используется в коде*/
    --gray-ababab: #ababab;
    --gray-a6a6a6: #a6a6a6; /*не используется в коде*/
    --gray-666666: #666666;
    --gray-4d4d4d: #4d4d4d;
    --gray-b4b4b4: #b4b9bb;
    --gray-d7dcde: #d7dcde;
    --gray-231f20: #231f20;      
  }


  img {    
    max-width: 100%;
    height: auto;
  }

  .page {
    height: 100%;
  }
  .page-body {
    background-color: rgb(var(--white));
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-283136);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  
  /*MAIN NAVIGATION*/

  .main-header {
    background-color: var(--gray-eeeeee);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;    
    width: auto        
  }

  .container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-navigation {
    grid-template-columns: 1fr auto 1fr;
    display: grid;    
    padding-top: 49px;
    vertical-align: bottom;
  }

  .site-nav li {
    margin-left: 22px;
    margin-right: 23px;
    margin-top: 16px;
  }
  .site-nav {
    display: flex;
    align-items: center;  
    justify-content: center;    
    list-style: none;  
    margin: 0;
    padding: 0;
  }

  .user-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-top: 16px;
  }

  .site-nav-cart {    
    background-image: url(../img/icons/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 41px;    
  }
  
  .site-nav a,
  .site-nav-cart {
    text-decoration: none;
    color: rgba(var(--black));
  }

  .site-nav a[href]:hover,
  .site-nav-cart:hover {
    color: var(--red);
  }

  .logo:hover {
    opacity: 0.7;
  }

  .site-nav a[href]:active,
  .site-nav-cart:active,
  .logo:active {
    color: rgba(var(--black));
    opacity: 0.3;
  }
  .site-navigation-current a {
    border-bottom: 2px solid var(--red);
    padding-bottom: 18px;
  }

/* Main*/

.main-content {
  display: grid;
  grid-template-rows: auto auto auto auto; 
}

/* Button */
.btn {
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 3px;
  color: rgb(var(--white));
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;  
  text-align: center;  
  padding: 15px 15px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--red-hover);
  border: 1px solid var(--red-hover);
  border-radius: 3px;
}

.btn:active {
  background-color: var(--red-active);
  border: 1px solid var(--red-active);
  border-radius: 3px;
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}


/*Carousel*/

.carousel {
  background-color: var(--gray-eeeeee);
  height: 431px;
}
.carousel-nav {  
  display: flex;
  width: 88px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 537px;
  bottom: 172px;
}
.carousel-nav-container {  
  
}

.carousel-btn {
  border-radius: 50%;
  border: 1px solid rgb(var(--white));
  background-color: rgb(var(--white));
  width: 18px;
  height: 18px;
}


.carousel-btn-active {
  border-radius: 50%;
  border: 1px solid rgb(var(--white));
  background-color: rgb(var(--white));
  background-image: url(../img/icons/icon-ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.slider {
  position: relative;
  
}
.slide-head {
  font-weight: 500;
  font-size: 55px;
  line-height: 56px;  
  margin: 0px;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
  color: var(--gray-283136);
}

.slide-btn {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: rgb(var(--white));
  padding: 15px 55px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.slide-content {
  width: auto;
  height: 430px;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 78px;
}

.slide-01 {
  background-image: url(../img/slide/slide-1.png);
}

.slide-02 {
  background-image: url(../img/slide/slide-2.png);
}

.slide-03 {
background-image: url(../img/slide/slide-3.png);
}
/*Products*/

.products {
  margin-top: 65px;
}

.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;  
  padding: 0;
  margin-right: 60px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--gray-eeeeee);
 }

 .products-list h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product-item {
  /*padding-top: 146px;*/
  display: inline-block;  
  width: 300px;
}

.product-item .btn {
  padding: 16px 40px;
  margin-top: 15px;
}

.product-sites h3::before {
  content: "";
  background-image: url(../img/web_site.png);
  display: block;
  width: 300px;
  height: 146px;
  background-color: var(--gray-eeeeee);
  top: 40px;
  margin-top: -26px;
  margin-bottom: 25px;
}

.product-apps h3::before {
  content: "";
  background-image: url(../img/apps.png);
  display: block;
  width: 300px;
  height: 146px;
  background-color: var(--gray-eeeeee);
  top: 40px;
  margin-top: -26px;
  margin-bottom: 25px;
}

.product-presents h3::before {
  content: "";
  background-image: url(../img/presents.png);
  display: block;
  width: 300px;
  height: 146px;
  background-color:var(--gray-eeeeee);
  top: 40px;
  margin-top: -26px;
  margin-bottom: 25px;
}

.product-sites .btn {
  background-color: var(--red);
  border: 1px solid var(--red);
}

.product-sites .btn:hover {
  background-color: var(--red-hover);
  border: 1px solid var(--red-hover);
}

.product-sites .btn:active {
  background-color: var(--red-active);
  border: 1px solid var(--red-active);
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}

.product-apps .btn {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.product-apps .btn:hover {
  background-color: var(--green-hover);
  border: 1px solid var(--green-hover);
}

.product-apps .btn:active {
  background-color: var(--green-active);
  border: 1px solid var(--green-active);
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}


.product-presents .btn {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.product-presents .btn:hover {
  background-color: var(--yellow-hover);
  border: 1px solid var(--yellow-hover);
}

.product-presents .btn:active {
  background-color: var(--yellow-active);
  border: 1px solid var(--yellow-active);
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}
.hr {
  size: 2px;
  width: 1158px;
  color: var(--gray-eeeeee);
}
.products hr {
  margin-top: 80px;
  margin-bottom: 40px;
}

/*Description*/

.desc {
  display: grid;
  grid-template-columns: 650px 360px;
  column-gap: 150px;
}


.desc-head {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 34px 0;
}
.desc-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 18px;
}

.desc-text-left h3 {
  margin-top: 40px;
  margin-left: 0;
}


.desc-list-products {
  list-style: none;
  margin: 0;
  padding: 0;
}
.desc-list-products li::before {
 content: "";
 background: url(../img/list-style.png) no-repeat center;
 padding-left: 25px; 
 margin-right: 7px;
}
.desc-item {
  margin-bottom: 29px;
}
.desc-features {
  list-style: none;
  padding: 0;
}

.desc-features-item {
  display: inline-block;
  width: min-content;
  margin-right: 18px;
}

.desc-features-item:last-child {
  margin-right: 0;
}


sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;  
}

.desc-features-text {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.desc-features-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.desc hr {
  margin-top: 40px;
  margin-bottom: 0;
}

/*Clients*/
.clients hr {
  padding: 0;
  margin: 0;
}
.clients-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item img {
  padding-top: 20px;
}

.clients-list {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  column-gap: 40px;
  height: 180px;
  padding: 0; 
  margin: 0;
  border-top: 2px solid var(--gray-eeeeee);
  border-bottom: 2px solid var(--gray-eeeeee);
}

.clients-item a{
  opacity: 0.2;
 }

.clients-item a:hover {
opacity: 1;
}

.clients-item a:active {
opacity: 0.1;
}

.clients-item:not(:last-child):after {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--gray-eeeeee);
  right: -18px;
  top: 50%;
  margin-top: -26px;
}


/*Footer*/

.main-footer {  
  padding-bottom: 68px;
  padding-top: 80px;
}

.map {
  height: 308px;
  padding: 54px 0;
  width: 100%; 
  object-fit: cover;
  background-color: var(--gray-eeeeee);
  position: relative;     
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
}

.map-position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.interactive-map {
  width: 100%;
}

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 7px;
}

.footer-social {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 139px;
  padding-top: 68px;
}
.footer-social-text p {
  margin: 0;
  margin-top: 9px;
}
.contacts-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba(var(--black));
  margin-top: 0;
  margin-bottom: 22px;
}

.footer-contacts {  
  position: absolute;
  background-color: rgba(var(--white));
  width: 219px;
  height: 212px;
  padding: 49px 50px 47px 50px;  
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-666666);  
}
.footer-contacts address,
.contacts-phone {
  line-height: 18px;
  color: var(--gray-666666);
  font-style: normal;
  text-align: left;
}

.footer-contacts:nth-child(2){
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.contacts-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgb(var(--white));
  text-align: center;
  border: 1px solid var(--red);
  padding: 15px 35px;
  display: block;
  vertical-align: top;
  margin-top: 27px;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;    
  margin: 0;
  flex-direction: row;
}

.socials li:not(:last-child) {
  margin-right: 10px;  
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  padding: 0;
  background: linear-gradient(0deg, var(--gray-e1e1e1), var(--gray-e1e1e1)),rgb(var(--white));
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg,var(--red-hover),var(--red-hover)),rgb(var(--white));
  border-radius: 50%;
  border: none;
}

.social-button:active {
  background: linear-gradient(0deg,var(--red-active),var(--red-active)),rgb(var(--white));
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}
/*Modal*/

.feedback-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  width: 960px;
  height: 590px;  
  background-color: rgb(var(--white));
  box-shadow: 0 20px 40px rgba(var(--black), 0.4);
}
 .feedback-modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 63px 100px 0;
}

.feedback-modal h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: rgb(var(--black));
  margin-bottom: 38px;
  margin-top: 0;
  margin-right: 390px;
  padding: 0;
}


.field {
  color: var(--gray-444444);
  border: 2px solid var(--gray-d7dcde);
  border-radius: 3px;
  display: block;
  width: 340px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 34px;
  margin-top: 10px;
}
.feedback-form-textarea {
  resize: none;
  width: 740px;
  height: 114px;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  color:  var(--red-hover);
  border-color: var(--red-hover);
}

.feedback-form input,
.feedback-form textarea {
  color: var(--gray-444444);
  opacity: 0.5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  opacity: 1;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: var(--gray-b4b9bb);
}

.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  color: rgb(var(--black));
} 

.feedback-btn {
  width: 259px;
  margin-top: 50px;

}

.feedback-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/icons/modal-close.svg);
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}
.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}
/*Catalog*/

.catalog-btn {
  padding: 15px 72px;
}
.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  width: 1160px;
  margin: 0 auto;
  margin-top: 55px;
  column-gap: 140px;
}

.container h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--gray-eeeeee);
  margin: 0;
  padding: 0;
  padding-top: 78px;  
  margin-bottom: 108px; 
  text-align: center;
  grid-column: 1 / -1;
  text-transform: none; 
}

.filter-form fieldset {
  border: 0px;
  padding: 0;
  margin: 0;  
}


.sorting h3 {
  margin-bottom: 48px;
}
.filter-form legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-group ul {
  list-style: none;
  width: 260px;
  padding: 0;
  margin-left: 0;
  margin-top: 16px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--gray-eeeeee);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--gray-d7dcde);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--gray-ababab);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--gray-283136);
  border: none;
  border-radius: 5px;
  background: var(--gray-eeeeee);
  font-family: inherit;
  font-size: inherit;
}

.filter-group {
  display: block;
  width: 208px;
}

.filter-group input {
  opacity: 0.4;
}

.filter-group label:hover{
color: var(--gray-4d4d4d);
}

.filter-option label {
  display: block;
  position: relative;
}

.filter-option {
  margin-bottom: 17px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/checkbox-off.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/icons/checkbox-on.svg);  
}

.filter-input-checkbox:disabled {
  opacity: 0.3;
}

.filter-input-checkbox:checked:disabled {
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-off.svg);
  opacity: 0.4;
}
.filter-input-radio:checked + label::before {
 
  background-image: url(../img/icons/radio-off.svg), url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-position: center, center;
}

.filter-input-radio:checked:disabled + label::before {
 
  background-image: url(../img/icons/radio-off.svg), url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-position: center, center;
}

.filter-input-radio:disabled + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-off.svg);
  opacity: 0.3;
}

.filter-input-radio:hover + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-group label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-283136);
  padding-left: 42px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.filter-btn {
  background-color: var(--gray-eeeeee);
  border-radius: 3px;
  border: 1px solid var(--gray-eeeeee);
  color: rgb(var(--black));
  font-weight: 500;
  font-size: 16px;
  line-height: 18px; 
  text-transform: uppercase;  
  padding: 17px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 50px;
  margin-top: 48px;
}


.filter-btn:hover {
  background-color: var(--gray-dfdfdf);
  border-radius: 3px;
  border: 1px solid var(--gray-dfdfdf);
}

.filter-btn:active {
  background-color: var(--gray-d5d5d5);
  border-radius: 3px;
  border: 1px solid var(--gray-d5d5d5);
  color: rgba(var(--black), 0.3);
  box-shadow: inset 0px 3px 0px rgb(0 1 1 / 10%);
  
}

.sorting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting h3 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.sorting {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin-bottom: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.sorting-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}


.sorting-list li {
  margin-right: 25px;
}

.sorting-list-simbol li {
  margin-left: 18px;
}
.sorting a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px; 
  text-transform: uppercase;
}

.sorting-item {
  color: rgba(var(--black));
  opacity: 0.3;
}

.sorting-item:hover {
  opacity: 0.6;
}
 .sorting-item-active,
 .sorting-item:active {
  color: rgba(var(--black));
  opacity: 1;
 }
.sorting-list-simbol {
  display: flex;
  justify-content: flex-end;
}
.catalog-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 55px;
}

.catalog-item::before {
  content: ""; 
  opacity: 0.12;
  background-image: url(../img/products/top.svg);
  display: block;
  width: 100%;
  height: 40px;  
}

.catalog-item:hover::before,
.catalog-item:focus-within::before { 
  opacity: 1;
}

.catalog-item-title a{
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(var(--black));
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: var(--red-hover);
}
.catalog-item-title a:active {
  color: rgba(var(--black));
  opacity: 0.3;
}


.catalog-item {
  position: relative;  
  border-radius: 5px;
  overflow: hidden;
}

.catalog-item:hover img {
  box-shadow: 0 6px 15px rgba(var(--black), 0.25);
}
.catalog-item::after {
  content: "";
  position: absolute;
  height: 578px;
  width: 358px;
  top: 40px;
  border: 1px solid var(--gray-f2f2f2);
  border-top: none; 
  border-radius: 0px 0px 5px 5px;
  pointer-events: none;
}

.catalog-item img {
  display: block;
  background-color: var(--gray-888888);
  width: 100%;
}
.catalog-item:hover .catalog-item-content,
.catalog-item:focus-within .catalog-item-content {
  display: block;
}

.catalog-item:hover::after {
  border: none;
}
.catalog-item-content {
  background-color:var(--gray-eeeeee);
  width: 256px;
  height: 231px;
  text-align: center;
  padding: 26px 52px 0px 52px;  
  position: absolute;
  bottom: 0px;
  display: none;
  border-radius: 0px 0px 5px 5px;
 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.shop {  
  
}

.pagination-list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--black));
  display: flex;
  justify-content: start;
  margin-top: 24px;
  margin-bottom: 50px;
}

.pagination-item {
  margin-right: 12px;
  margin-bottom: 10px;
  color: rgb(var(--black));
  background-color: var(--gray-eeeeee);
  border-radius: 3px;
}
.pagination-item a {
  display: block;  
  border-radius: 3px;
}

.pagination-item-number {
  padding: 16px 20px;
}

.pagination-item-switch {
  text-align: center;
  text-transform: uppercase;
  padding: 16px 75px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-checked a,
.pagination-item-checked a:hover,
.pagination-item-checked a:focus,
.pagination-item-checked a:active {
  box-shadow: inset 0 0 0 3px var(--gray-dbdbdb);
  color: rgb(var(--black));
  background-color: rgba(var(--white));
  cursor: default;
}

.pagination-item-number,
.pagination-item-switch {
  color: rgb(var(--black));
  background-color: var(--gray-eeeeee);
  text-decoration: none;
}

.pagination-item-number:focus,
.pagination-item-number:hover,
.pagination-item-switch:hover,
.pagination-item-switch:focus {
  background-color: var(--gray-dfdfdf);
}

.pagination-item-number:active,
.pagination-item-switch:active {
  color: rgba(var(--black), 0.3);
  background-color: var(--gray-d5d5d5);
  box-shadow: inset 0 3px 0 0 rgba(var(--black-light), 0.1);
}
